In [56]:
import pandas as pd

df = pd.read_csv("C:/Users/My Latitude/Desktop/basic_DA/laptop_price_dataset.csv")

In [57]:
df.head()

,Unnamed: 0,Company,Product,TypeName,Inches,ScreenResolution,CPU_Company,CPU_Type,CPU_Frequency (GHz),RAM (GB),Memory,GPU_Company,GPU_Type,OpSys,Weight (kg),Price (Euro)
0,0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,2.3,8.0,128GB SSD,Intel,Iris Plus Graphics 640,macOS,1.37,1339.69
1,1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel,Core i5,1.8,8.0,128GB Flash Storage,Intel,HD Graphics 6000,macOS,1.34,898.94
2,2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel,Core i5 7200U,2.5,8.0,256GB SSD,Intel,HD Graphics 620,No OS,1.86,575.00
3,3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel,Core i7,2.7,16.0,512GB SSD,AMD,Radeon Pro 455,macOS,1.83,2537.45
4,4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,3.1,8.0,256GB SSD,Intel,Iris Plus Graphics 650,macOS,1.37,1803.60

In [75]:
df.describe(include="all")

,Unnamed: 0,Company,Product,TypeName,Inches,ScreenResolution,CPU_Company,CPU_Type,CPU_Frequency (GHz),RAM (GB),Memory,GPU_Company,GPU_Type,OpSys,Weight (kg),Price (Euro)
count,1275.000000,1275,1275,1275,1275.000000,1275,1275,1275,1275.000000,1275.000000,1275,1275,1275,1275,1275.000000,1275.000000
unique,NaN,19,618,6,NaN,40,3,93,NaN,NaN,39,4,106,9,NaN,NaN
top,NaN,Dell,XPS 13,Notebook,NaN,Full HD 1920x1080,Intel,Core i5 7200U,NaN,NaN,256GB SSD,Intel,HD Graphics 620,Windows 10,NaN,NaN
freq,NaN,291,30,707,NaN,505,1214,193,NaN,NaN,412,704,280,1048,NaN,NaN
mean,637.000000,NaN,NaN,NaN,15.022902,NaN,NaN,NaN,2.302980,8.440784,NaN,NaN,NaN,NaN,2.040525,1134.969059
std,368.205106,NaN,NaN,NaN,1.429470,NaN,NaN,NaN,0.503846,5.097809,NaN,NaN,NaN,NaN,0.669196,700.752504
min,0.000000,NaN,NaN,NaN,10.100000,NaN,NaN,NaN,0.900000,2.000000,NaN,NaN,NaN,NaN,0.690000,174.000000
25%,318.500000,NaN,NaN,NaN,14.000000,NaN,NaN,NaN,2.000000,4.000000,NaN,NaN,NaN,NaN,1.500000,609.000000
50%,637.000000,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,2.500000,8.000000,NaN,NaN,NaN,NaN,2.040000,989.000000
75%,955.500000,NaN,NaN,NaN,15.600000,NaN,NaN,NaN,2.700000,8.000000,NaN,NaN,NaN,NaN,2.310000,1496.500000
max,1274.000000,NaN,NaN,NaN,18.400000,NaN,NaN,NaN,3.600000,64.000000,NaN,NaN,NaN,NaN,4.700000,6099.000000

In [76]:
df.dropna()
df[["Product", "Price (Euro)"]].describe(include="all")

       Product  Price (Euro)
count     1275   1275.000000
unique     618           NaN
top     XPS 13           NaN
freq        30           NaN
mean       NaN   1134.969059
std        NaN    700.752504
min        NaN    174.000000
25%        NaN    609.000000
50%        NaN    989.000000
75%        NaN   1496.500000
max        NaN   6099.000000

In [86]:
result = df.groupby('Product')['Price (Euro)'].agg(['mean', 'max'])
print(result)

                                       mean     max
Product
110-15ACL (A6-7310/4GB/500GB/W10)     298.0   298.0
14-am079na (N3710/8GB/2TB/W10)        389.0   389.0
15-AC110nv (i7-6500U/6GB/1TB/Radeon   764.0   764.0
15-AY023na (N3710/8GB/2TB/W10)        389.0   389.0
15-BA015wm (E2-7110/4GB/500GB/W10)    297.0   297.0
...                                     ...     ...
Zenbook UX330UA-AH5Q                 1129.0  1129.0
Zenbook UX390UA                      1950.0  1950.0
Zenbook UX410UA-GV027T                945.0   945.0
Zenbook UX430UA                      1049.0  1049.0
Zenbook UX510UW-FI095T               1299.0  1299.0

[618 rows x 2 columns]