Instruksi

Lakukan proses data cleaning terhadap data di atas. Data tersebut berisi status admission di suatu universitas, di mana setiap baris berisi informasi terkait calon mahasiswa yang melamar di kampus tersebut, beserta informasi apakah mahasiswa tersebut diterima atau tidak.

Untuk level beginner, mohon aplikasikan proses data cleaning basic (cek duplikat, missing value, nilai yang hilang, dll)
Untuk level intermediate, boleh melakukan proses data cleaning yang lebih advance, sesuai dengan pengetahuan yang teman2 sudah dimiliki.

In [8]:
import pandas as pd

df = pd.read_csv("C:/Users/My Latitude/Desktop/basic_DA/academic_admission.csv")

In [6]:
df.head()

,application_id,international,gpa,major,race,gmat,work_exp,work_industry,admission
gender,,,,,,,,,
Female,1,False,3.30,Business,Asian,620,3,Financial Services,Admit
Male,2,False,3.28,Humanities,Black,680,5,Investment Management,NaN
Female,3,True,3.30,Business,NaN,710,5,Technology,Admit
Male,4,False,3.47,STEM,Black,690,6,Technology,NaN
Male,5,False,3.35,STEM,Hispanic,590,5,Consulting,NaN

Mengecek tipe data dari semua kolom apakah sudah sesuai dengan format yang sesuai.

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6110 entries, 0 to 6109
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   application_id  6110 non-null   int64
 1   gender          6110 non-null   object
 2   international   6110 non-null   bool
 3   gpa             6110 non-null   float64
 4   major           6110 non-null   object
 5   race            4294 non-null   object
 6   gmat            6110 non-null   int64
 7   work_exp        6110 non-null   int64
 8   work_industry   6110 non-null   object
 9   admission       903 non-null    object
dtypes: bool(1), float64(1), int64(3), object(5)
memory usage: 435.7+ KB

Melihat apakah ada nilai yang unik dan berbeda pada setiap kolom

In [25]:
for col in df.columns:
    print(col)
    print(df[col].unique())
    print("\n")

application_id
[   1    2    3 ... 6192 6193 6194]


gender
['Female' 'Male']


international
[False  True]


gpa
[3.3  3.28 3.47 3.35 3.18 2.93 3.02 3.24 3.27 3.05 2.85 3.39 3.03 3.32
 3.23 3.13 3.09 3.46 3.64 3.42 3.4  3.26 2.99 3.08 3.65 3.04 3.19 3.33
 3.53 3.5  3.22 3.16 3.45 3.12 3.41 3.38 3.43 2.96 3.44 3.01 3.   3.36
 3.31 3.07 3.49 3.34 2.89 3.2  3.17 3.1  3.52 3.15 3.21 3.48 3.14 2.97
 3.11 3.29 3.25 3.51 3.06 2.95 3.37 3.55 3.54 3.6  3.61 3.71 3.77 3.58
 2.98 3.56 3.69 2.79 2.87 2.88 3.63 3.74 2.91 2.92 2.78 3.57 3.66 2.81
 3.59 2.82 3.62 2.73 3.68 2.84 2.9  2.83 2.86 3.67 2.94 2.72 2.8  3.76
 3.7  3.73 2.65]


major
['Business' 'Humanities' 'STEM']


race
['Asian' 'Black' nan 'Hispanic' 'White' 'Other']


gmat
[620 680 710 690 590 610 630 580 600 700 670 760 640 730 570 650 720 740
 660 780 750 770]


work_exp
[3 5 6 2 4 8 7 9 1]


work_industry
['Financial Services' 'Investment Management' 'Technology' 'Consulting'
 'Nonprofit/Gov' 'PE/VC' 'Health Care' 'Investment Banking' 'Other'
 'Retail' 'Energy' 'CPG' 'Real Estate' 'Media/Entertainment']


admission
['Admit' nan]

Mencari nilai yang hilang dari setiap kolom dengan fungsi isnull

In [26]:
df.isnull().sum()

application_id       0
gender               0
international        0
gpa                  0
major                0
race              1816
gmat                 0
work_exp             0
work_industry        0
admission         5207
dtype: int64

Mengganti nilai nan pada kolom 'race' dengan 'Other'

In [54]:
filled_race = df.fillna({'race': 'Other'}, inplace=True) 
print(filled_race)

None

Mengganti nilai nan pada kolom 'admission' dengan 'Unknown'

In [55]:
filled_admission = df.fillna({'admission': 'Unknown'}, inplace=True) 
print(filled_admission)

None

In [56]:
df.head()

,application_id,gender,international,gpa,major,race,gmat,work_exp,work_industry,admission
0,1,Female,False,3.30,Business,Asian,620,3,Financial Services,Admit
1,2,Male,False,3.28,Humanities,Black,680,5,Investment Management,Unknown
2,3,Female,True,3.30,Business,Other,710,5,Technology,Admit
3,4,Male,False,3.47,STEM,Black,690,6,Technology,Unknown
4,5,Male,False,3.35,STEM,Hispanic,590,5,Consulting,Unknown

Mencari nilai yang terindikasi duplikat dengan fungsi duplicated. Disini saya menyimpulkan adanya duplikasi di setiap kolom tetapi memiliki nilai yang berbeda-berbeda, maka menurut saya tidak perlu dihapus.

In [57]:
duplicate = df[df.duplicated()]
print(duplicate)

      application_id  gender  international   gpa       major      race  gmat  \
4195            4275    Male          False  3.25  Humanities     Other   720
4353            4434  Female           True  3.41  Humanities     Other   700
4418            4499    Male          False  3.34    Business     Asian   600
4432            4512  Female          False  3.39        STEM     Asian   750
4594            4661    Male          False  3.16        STEM     Asian   570
4595            4667  Female           True  3.38        STEM     Other   640
4598            4704    Male          False  3.11    Business  Hispanic   600
4599            4675  Female          False  3.22    Business     White   710
4627            4704    Male          False  3.11    Business  Hispanic   600
4934            5013  Female          False  3.22  Humanities     White   600
6104            6189    Male          False  3.12        STEM     Black   630
6105            6190    Male          False  3.49    Business     White   640
6106            6191    Male          False  3.18        STEM     Black   670
6107            6192  Female           True  3.22    Business     Other   680
6108            6193    Male           True  3.36    Business     Other   590
6109            6194    Male          False  3.23        STEM  Hispanic   650

      work_exp       work_industry admission
4195         4  Investment Banking     Admit
4353         5               PE/VC     Admit
4418         6         Health Care   Unknown
4432         6  Investment Banking   Unknown
4594         5          Consulting   Unknown
4595         4       Nonprofit/Gov   Unknown
4598         5  Financial Services   Unknown
4599         3          Consulting   Unknown
4627         5  Financial Services   Unknown
4934         4          Consulting   Unknown
6104         4          Consulting   Unknown
6105         5               Other   Unknown
6106         4          Consulting   Unknown
6107         5         Health Care     Admit
6108         5               Other   Unknown
6109         4          Consulting   Unknown

In [62]:
#df.drop_duplicates(inplace=True)
duplicates = df['gmat'].duplicated()
print(df[duplicates])

      application_id  gender  international   gpa       major      race  gmat  \
6                  7  Female          False  2.93        STEM     Other   590
8                  9    Male          False  3.24    Business     White   590
9                 10    Male          False  3.27  Humanities     Asian   690
11                12    Male           True  2.85  Humanities     Other   580
12                14  Female          False  3.39    Business     Black   690
...              ...     ...            ...   ...         ...       ...   ...
6105            6190    Male          False  3.49    Business     White   640
6106            6191    Male          False  3.18        STEM     Black   670
6107            6192  Female           True  3.22    Business     Other   680
6108            6193    Male           True  3.36    Business     Other   590
6109            6194    Male          False  3.23        STEM  Hispanic   650

      work_exp  work_industry admission
6            3     Technology     Admit
8            2  Nonprofit/Gov   Unknown
9            3     Consulting   Unknown
11           4          PE/VC   Unknown
12           4  Nonprofit/Gov   Unknown
...        ...            ...       ...
6105         5          Other   Unknown
6106         4     Consulting   Unknown
6107         5    Health Care     Admit
6108         5          Other   Unknown
6109         4     Consulting   Unknown

[6088 rows x 10 columns]