**Task 1.1**

Budi sedang melakukan riset untuk melihat pengaruh suhu harian terhadap minat warga lokal untuk mengunjungi lokasi wisata di musim liburan. Lokasi risetnya adalah di negara bernama Puerto Rico. Budi mengambil data suhu di seluruh region di Puerto Rico selama satu bulan yang termasuk ke dalam musim libur anak sekolah. Dia pergi bersama satu orang asistennya, mahasiswa tingkat awal di universitas tempat dia sedang menempuh studi.

Di sisi lain, Budi juga diminta oleh professor di tempat dia kuliah untuk mengumpulkan data temperatur secara detil setiap 15 menit di ibu kota Puerto Rico. Data ini nantinya akan digunakan oleh professor untuk melakukan suatu eksperimen di bidang Engineering.

Saat kembali ke Indonesia, Budi sadar bahwa dia melakukan pengukuran suhu dengan menggunakan satuan Celcius untuk setiap data. Di sisi lain, satuan yang biasa dipakai di Puerto Rico adalah Fahrenheit. Professor juga memerlukan data tersebut dalam satuan Kelvin untuk penelitiannya di bidang Engineering. Saat hendak mengkonversi data tersebut, Budi sadar bahwa asistennya salah menginput tipe data untuk beberapa data. Ada sebagian data yang berada dalam format teks (string), yang mana seharusnya formatnya adalah bilangan desimal. 

1. Buat satu function untuk mengkonversi suhu dari satuan Celcius menjadi Fahrenheit. Beri nama functionnya sebagai **celcius_to_fahrenheit**
2. Buat satu function untuk mengkonversi suhu dari satuan Celcius menjadi Kelvin. Beri nama functionnya sebagai **celcius_to_kelvin**
3. Pastikan bahwa function tetap dapat mengkonversi suhu dengan benar, walaupun input datanya adalah teks.
4. Buat hasil akhirnya sesuai dengan kunci jawaban yang tersedia di bawah, berada dalam foramt **Temperatur : 86.0 Fahrenheit**

In [3]:
# celcius to fahrenheit

def celcius_to_fahrenheit():
    try:
        celcius = input("Input temp °C: ")
        _celc = float(celcius)
        c2f = (9/5*_celc)+32
        print(f"Nilai suhu saat ini {c2f} °F")
    except ValueError:
        print("Input not valid, please input number")

def celcius_to_kelvin():
    try:
        celcius = input("input temp °C: ")
        _celc = float(celcius)
        c2k = _celc+273.15
        print(f"Nilai suhu saat ini {c2k} °K")
    except ValueError:
        print("Input not valid, please input number")

In [2]:
celcius_to_fahrenheit()

Nilai suhu saat ini 86.0 °F

Temperatur : 86.0 Fahrenheit

In [4]:
# check your answer

celcius_to_fahrenheit() #93.1

Nilai suhu saat ini 199.57999999999998 °F

Temperatur : 199.57999999999998 Fahrenheit

In [6]:
# check your answer

celcius_to_fahrenheit() #-27.5

Nilai suhu saat ini -17.5 °F

Temperatur : -17.5 Fahrenheit

In [4]:
celcius_to_kelvin() #100

Nilai suhu saat ini 373.15 °K

Temperatur : 373.15 Kelvin

In [3]:
celcius_to_kelvin() #-59

Nilai suhu saat ini 214.14999999999998 °K

Temperatur : 178.15 Kelvin

In [5]:
celcius_to_kelvin()

Input not valid, please input number

Temperatur : 287.15 Kelvin

**Task 1.2**

Seorang Data Analyst sedang mengobservasi variabel apa saja yang bisa mempengaruhi harga suatu laptop. Dia juga mau mengetahui perbedaan harga laptop di brand yang berbeda dengan spesifikasi yang berbeda pula.

1. Import data dalam format CSV
2. Pastikan data pada semua kolom berada dalam format yang sesuai. Jika belum, maka ubah formatnya (data type)
3. Cari tahu Median, Mean, Maximum Price, dan Minimum Price dari seluruh harga laptop
4. Cari tahu Mean dan Maximum Price untuk masing-masing brand
5. Apakah berat laptop mempengaruhi harga suatu laptop?
6. Brand apa yang menjual laptop dengan harga yang paling ekonomis menurut analisis Anda?

In [1]:
#1.impor data csv
import pandas as pd

df = pd.read_csv("C:/Users/My Latitude/Desktop/basic_DA/laptop_price_dataset.csv")

In [5]:
#2. Menampilkan aata menggunkan fungsi .head()
df.head()

,Unnamed: 0,Company,Product,TypeName,Inches,ScreenResolution,CPU_Company,CPU_Type,CPU_Frequency (GHz),RAM (GB),Memory,GPU_Company,GPU_Type,OpSys,Weight (kg),Price (Euro)
0,0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,2.3,8.0,128GB SSD,Intel,Iris Plus Graphics 640,macOS,1.37,1339.69
1,1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel,Core i5,1.8,8.0,128GB Flash Storage,Intel,HD Graphics 6000,macOS,1.34,898.94
2,2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel,Core i5 7200U,2.5,8.0,256GB SSD,Intel,HD Graphics 620,No OS,1.86,575.00
3,3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel,Core i7,2.7,16.0,512GB SSD,AMD,Radeon Pro 455,macOS,1.83,2537.45
4,4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel,Core i5,3.1,8.0,256GB SSD,Intel,Iris Plus Graphics 650,macOS,1.37,1803.60

In [7]:
#3. Menampilkan nilai median, meanm max, min price laptop
df.dropna()
df[["Product", "Price (Euro)"]].describe(include="all")

       Product  Price (Euro)
count     1275   1275.000000
unique     618           NaN
top     XPS 13           NaN
freq        30           NaN
mean       NaN   1134.969059
std        NaN    700.752504
min        NaN    174.000000
25%        NaN    609.000000
50%        NaN    989.000000
75%        NaN   1496.500000
max        NaN   6099.000000

Dengan menggunakan fungsi desrcibe() kita dapat mencari nilai mean, median, harga minimal dan maksimal dari penjualan Laptop. Didapatkan nilai mean dari harga laptop 1134.969, median (50%) sebesar 989, harga maksimal dari seluruh harga laptop tersebut adalah 6099 dan harga minimal adalah 174.

In [2]:
#4. Menampilkan nilai mean dan maksimum dari setiap brand
result = df.groupby('Company')['Price (Euro)'].agg(['mean', 'median', 'max', 'min'])
print(result)

                  mean   median      max      min
Company
Acer        633.464455   572.00  2599.00   174.00
Apple      1564.198571  1339.69  2858.00   898.94
Asus       1123.829737  1049.45  3975.00   191.90
Chuwi       314.296667   248.90   449.00   244.99
Dell       1199.225120   999.00  3659.40   274.90
Fujitsu     729.000000   739.00   799.00   649.00
Google     1677.666667  1559.00  2199.00  1275.00
HP         1080.314664   979.00  4389.00   209.00
Huawei     1424.000000  1424.00  1499.00  1349.00
LG         2099.000000  2099.00  2299.00  1899.00
Lenovo     1093.862215   899.00  4899.00   229.00
MSI        1728.908148  1599.00  2799.00   839.00
Mediacom    295.000000   265.00   389.00   239.00
Microsoft  1612.308333  1569.50  2589.00   989.00
Razer      3346.142857  2899.00  6099.00  1029.00
Samsung    1413.444444  1649.00  1849.00   269.00
Toshiba    1267.812500  1211.50  2799.00   447.00
Vero        217.425000   206.85   260.00   196.00
Xiaomi     1133.462500  1099.45  1399.95   935.00

Dengan menggunakan fungsi groupby() kita dapat menggabungkan dan menampilkan data numerik dan non-numerik sehingga kita dapat mengetahui nilai mean dan maksimum dari masing-masing brand laptop.

In [11]:
#5. Pengaruh berat laptop terhadap harga laptop
result = df.groupby('Weight (kg)')['Price (Euro)'].agg(['mean', 'max', 'min'])
print(result)

                    mean      max      min
Weight (kg)
0.69          498.317500   646.27   319.00
0.81         1574.000000  1649.00  1499.00
0.91         1950.000000  1950.00  1950.00
0.92         1279.900000  1510.00  1163.00
0.97         1961.000000  2014.00  1908.00
...                  ...      ...      ...
4.40         2799.000000  2799.00  2799.00
4.42         2876.378182  3588.80  2046.00
4.50         2349.000000  2349.00  2349.00
4.60         2735.745000  3240.00  2289.99
4.70         3890.000000  3890.00  3890.00

[171 rows x 3 columns]

Dari data yang saya tarik diatas saya menyimpulkan bahwa semakin besar berat laptop maka harga jual dari laptop tersebut juga tinggi.

6. Dari jawaban no.4, menurut saya laptop dengan penjualan dengan harga yang ekonomis adalah dari Brand Vero, terlihat perbandingan nilai median dan harga barang tidak terlalu jauh perbedaanya.